Scrapy==2.10.1
selenium==4.9.1
scrapy-selenium==0.0.7
itemloaders==1.1.0
itemadapter==0.8.0
psycopg2==2.9.7
SQLAlchemy==1.4.49
pandas==2.1.0
rq==1.15.1
redis==5.0.0
python-dotenv==1.0.0
python-dateutil==2.8.2